.cg-bg{
    width: 100%;
    height: 380px;
    background: linear-gradient(
    to bottom,
    rgb(251, 236, 238),
    rgb(214, 229, 250)
  );
  margin-top: 100px;

}
.quote{
    text-align: center;
     font-size: 45px;
     width: 50%;
     margin: auto;
     padding-top: 130px;
}
.author{
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}
